AZURE_OPENAI_API_KEY="my_key"
AZURE_OPENAI_ENDPOINT="my_endpoint"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o"
AZURE_OPENAI_API_VERSION="2024-02-15-preview"
COSMOS_ENDPOINT="my_cosmos_url"
COSMOS_KEY="my_cosmos_key"
COSMOS_DATABASE_NAME="HoneySentinelDB"
COSMOS_CONTAINER_NAME="AgentMemory"
AZURE_SEARCH_ENDPOINT="my_search_url"
AZURE_SEARCH_ADMIN_KEY="my_search_key"
AZURE_SEARCH_INDEX_NAME="repo-code-index"
AZURE_STORAGE_CONNECTION_STRING="my_storage_string"
AZURE_STORAGE_CONTAINER_NAME="scanned-repos"
MEMORY_BACKEND="cosmos"
